.best {
  width: 100%;
  min-height: 100vh;
  background-image: url(../images/bg-best.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0 0 0;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.best__container {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto; }

.best-title {
  font-family: gagalin;
  font-size: 72px;
  color: #2f3234;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 80px;
  margin-left: 18px; }

.prefs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 90px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media screen and (max-width: 480px) {
    .prefs {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.promo__icon {
  height: 100%;
  width: 100%; }
  .promo__icon--meat {
    fill: red; }
  .promo__icon--hand {
    fill: orange; }
  .promo__icon--natural {
    height: 4.6875rem;
    fill: green; }

.pref {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 32%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 0 auto;
  -ms-flex-preferred-size: 250px;
  flex-basis: 250px; }
  @media screen and (max-width: 480px) {
    .pref {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      width: 100%;
      margin-bottom: 1.5625rem; } }

.pref__img {
  height: 5.625rem;
  margin-bottom: 30px; }
  @media screen and (max-width: 480px) {
    .pref__img {
      position: static;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none; } }

.pref__title {
  font-family: lifehack;
  font-size: 1.5rem;
  color: #2f3234;
  text-align: center;
  width: 80%; }

.pref__text {
  font-family: Ubuntu;
  font-weight: lighter;
  font-size: 14px;
  color: #575959;
  text-align: center;
  line-height: 1.5rem;
  white-space: 1px; }

@font-face {
  font-family: Gagalin;
  src: url("../fonts/Gagalin.otf"), url("../fonts/gagalin-webfont.eot"), url("../fonts/gagalin-webfont.ttf") format("truetype"), url("../fonts/gagalin-webfont.woff") format("woff"), url("../fonts/gagalin-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: Lifehack;
  src: url("../fonts/Lifehack.otf"), url("../fonts/Lifehack-webfont.eot"), url("../fonts/Lifehack-webfont.ttf") format("truetype"), url("../fonts/Lifehack-webfont.woff") format("woff"), url("../fonts/Lifehack-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: Ubuntu;
  src: url("../fonts/Ubuntu-B.ttf"), url("../fonts/Ubuntu-B-webfont.eot"), url("../fonts/Ubuntu-B-webfont.ttf") format("truetype"), url("../fonts/Ubuntu-B-webfont.woff") format("woff"), url("../fonts/Ubuntu-B-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: Ubuntu;
  src: url("../fonts/Ubuntu-Light.ttf") format("truetype"), url("../fonts/Ubuntu-Light-webfont.eot"), url("../fonts/Ubuntu-Light-webfont.woff") format("woff"), url("../fonts/Ubuntu-Light-webfont.woff2") format("woff2");
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: Ubuntu;
  src: url("../fonts/Ubuntu-Medium.ttf") format("truetype"), url("../fonts/Ubuntu-Medium-webfont.eot"), url("../fonts/Ubuntu-Medium-webfont.woff") format("woff"), url("../fonts/Ubuntu-Medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: Ubuntu;
  src: url("../fonts/Ubuntu-Regular.ttf") format("truetype"), url("../fonts/Lifehack-webfont.eot"), url("../fonts/Lifehack-webfont.woff") format("woff"), url("../fonts/Lifehack-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

.footer {
  padding: 0.5625rem 0;
  background: #000000 url("../img/bg/footer-bg.jpg") center no-repeat;
  background-size: cover; }
  @media screen and (max-width: 480px) {
    .footer {
      padding: 18px 0; } }

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 480px) {
    .footer__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.footer__left {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  @media screen and (max-width: 480px) {
    .footer__left {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 18px; } }

.footer__right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .footer__right {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.footer__left-address {
  margin-bottom: 0.1875rem;
  color: #ffffff; }

.footer__left-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #e45028;
  text-decoration: none; }

.footer__left-icon {
  height: 0.6875rem;
  width: 0.75rem;
  margin-right: 0.625rem;
  fill: #e45028; }

.footer__right-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1.25rem; }

.footer__right-link {
  height: 100%;
  margin-right: 20px; }
  .footer__right-link:last-child {
    margin: 0; }

.footer__right-social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 100%;
  width: 23px;
  fill: #ffffff;
  fill-opacity: 0.3; }
  .footer__right-social:hover {
    fill-opacity: 1; }

.section__footer {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  max-width: 940px;
  height: 100%; }

.main-menu__url {
  color: white; }

.header {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8125rem; }

.main-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 40.625rem;
  background-image: url(../images/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0 0 0;
  color: white; }

.container {
  max-width: 1100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    .container {
      width: 100%; } }
  @media screen and (max-width: 480px) {
    .container {
      width: 100%; } }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.logo {
  margin: 0.5rem 0 0 5rem; }
  @media screen and (max-width: 480px) {
    .logo {
      margin: 0; } }

.menu__header {
  margin: 2px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

@media screen and (max-width: 768px) {
  .main-menu {
    display: none; } }

@media screen and (max-width: 480px) {
  .main-menu {
    display: none; } }

.main-menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.1875rem;
  margin-right: -0.375rem;
  letter-spacing: 0rem; }

.main-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 1.125rem; }

.main-menu__item::after {
  content: "";
  position: relative;
  margin-left: 1rem;
  width: 0.125rem;
  height: 0.125rem;
  border: 0.0625rem solid white;
  border-radius: 50%;
  background-color: white; }

.main-menu__item:hover {
  text-decoration: underline; }

.btn {
  padding: 0.8125rem 1rem;
  height: 2.1875rem;
  background-color: #e45028;
  border-radius: 0.25rem;
  margin-right: 1.875rem;
  padding-top: 0.625rem;
  text-transform: uppercase;
  outline: none;
  border: 0.0625rem solid transparent; }

.btn:hover {
  background-color: #c1401e; }

.table-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 85%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.main-page__table {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: -5.625rem;
  margin-left: 0rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .main-page__table {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media screen and (max-width: 480px) {
    .main-page__table {
      width: 95%; } }

.main-page__burger_img {
  position: relative; }
  @media screen and (max-width: 768px) {
    .main-page__burger_img {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media screen and (max-width: 480px) {
    .main-page__burger_img {
      width: 100%; } }

.main-page__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 3.125rem;
  margin-top: 3.75rem; }
  @media screen and (max-width: 768px) {
    .main-page__titles {
      margin-top: 0;
      text-align: center;
      width: 80%; } }
  @media screen and (max-width: 480px) {
    .main-page__titles {
      width: 100%; } }

.main-page__main_title {
  font-family: gagalin;
  font-size: 4.5rem;
  color: #f9b43b; }
  @media screen and (max-width: 480px) {
    .main-page__main_title {
      font-size: 3.125rem; } }

.main-page__second_title {
  font-family: Lifehack;
  font-size: 4.0625rem;
  color: white;
  margin-top: 1.5rem;
  line-height: 3.875rem;
  letter-spacing: -0.125rem; }
  @media screen and (max-width: 480px) {
    .main-page__second_title {
      font-size: 3.125rem; } }

.main-page__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -2.5625rem; }

.arrow__scroll {
  width: 1.8125rem;
  height: 0.9375rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  fill: white;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer; }

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.burger__map {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: url("../img/bg/map_n.jpg") center top no-repeat;
  background-size: cover; }

.order {
  background: #000000 url("../img/bg/order-bg.jpg") center no-repeat;
  background-size: cover; }

.order__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 85%; }

.order__title {
  font-family: Gagalin, Helvetica, Arial, sans-serif;
  font-size: 4.5rem;
  color: #f9b43b;
  margin-bottom: 3.625rem;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .order__title {
      font-size: 50px; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 58.75rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto; }

.form__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .form__columns {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.form__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 48.93617021%; }
  @media screen and (max-width: 768px) {
    .form__column {
      width: 65%; } }
  @media screen and (max-width: 480px) {
    .form__column {
      width: 100%; } }

.form__column--left {
  margin-right: 1.25rem; }
  @media screen and (max-width: 768px) {
    .form__column--left {
      margin: 0; } }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.9375rem; }

.form__input {
  width: 100%;
  padding: 0.5625rem;
  font-size: 1rem;
  background: #ffffff;
  border-radius: 0.4375rem;
  border: 1px solid transparent;
  outline: none;
  margin-bottom: 1.4375rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.form__input:focus {
  border: 1px solid orange; }

.form__input-wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.25rem; }

.form__input-wrapper:last-child {
  margin-right: 0; }

.form__input-lable {
  display: block;
  margin-bottom: 0.3125rem;
  color: #ffffff; }

.form__textarea {
  width: 100%;
  height: 7.125rem;
  padding: 0.5625rem;
  margin-bottom: 0.5625rem;
  resize: none;
  border-radius: 0.4375rem;
  outline: none; }

.form__textarea:focus {
  border: 1px solid orange; }

.form__textarea-wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.form__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 480px) {
    .form__bottom {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.form__radios {
  margin-bottom: 1.5625rem; }

.form__label {
  position: relative;
  margin-right: 1.375rem;
  padding-left: 1.5625rem;
  color: #ffffff; }

.form__radio {
  display: none; }

.form__radio:checked + .form__radio-indicator::before {
  opacity: 1; }

.form__radio-indicator {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 50%;
  background-color: #ffffff; }

.form__radio-indicator::before {
  opacity: 0;
  width: 0.4375rem;
  height: 0.4375rem;
  border-radius: 50%;
  background-color: #e45028;
  content: ''; }

.form__checkbox-label {
  margin-bottom: 1.25rem; }

.form__checkbox-field {
  width: 0.9375rem;
  height: 0.9375rem;
  fill: #ffffff;
  stroke: none; }

.form__checkbox {
  display: none; }

.form__checkbox:checked + .form__checkbox-indicator::before,
.form__checkbox:checked + .form__checkbox-indicator::after {
  opacity: 1; }

.form__checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.9375rem;
  height: 0.9375rem;
  background-color: #ffffff; }

.form__checkbox-indicator::before,
.form__checkbox-indicator::after {
  content: '';
  position: absolute;
  bottom: 0.125rem;
  display: block;
  width: 0.1875rem;
  background-color: #e45028;
  opacity: 0; }

.form__checkbox-indicator::before {
  left: 0.3125rem;
  height: 0.4375rem;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg); }

.form__checkbox-indicator::after {
  left: 0.5rem;
  height: 0.625rem;
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  transform: rotate(35deg); }

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.5rem 0.9375rem;
  font-weight: 500;
  font-size: 0.8125rem;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #e45028;
  border-radius: 0.3125rem;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer; }

.form__submit:hover {
  background-color: #c1401e; }

.form__clear {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.5rem 0.9375rem;
  font-weight: 500;
  font-size: 0.8125rem;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 0.3125rem;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
  border: none;
  text-transform: none;
  text-decoration: none;
  cursor: pointer; }

.form__clear:hover {
  background-color: transparent; }

body {
  margin: 0; }

*,
button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Ubuntu; }

.wrapper {
  width: 100%;
  height: 100%; }

.section {
  width: 100%;
  min-height: 100vh; }

.steps {
  position: fixed;
  top: 70px;
  right: 50px; }
  @media screen and (max-width: 768px) {
    .steps {
      display: none; } }
  .steps__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .steps__item {
    margin-bottom: 12px; }
    .steps__item:last-child {
      margin-bottom: 0; }
    .steps__item--active .steps__link {
      border-color: #fff; }
  .steps__link {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: relative;
    display: block;
    border: 1px solid transparent; }
    .steps__link:hover {
      border-color: #fff; }
    .steps__link:before {
      content: "";
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  position: relative; }

.rew-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.review {
  width: 25%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-size: cover;
  background-position: center;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  @media screen and (max-width: 768px) {
    .review {
      width: 50%;
      height: 25vh; } }

.review__info {
  position: relative;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 2; }
  @media screen and (max-width: 768px) {
    .review__info {
      text-align: center; } }

.review__name {
  font-family: gagalin;
  font-size: 0.875rem;
  color: white;
  margin-top: 2.8125rem;
  margin-left: 1.25rem;
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 480px) {
    .review__name {
      font-size: 1.75rem; } }

.review__text {
  font-family: ubuntu;
  font-weight: lighter;
  font-size: 0.875rem;
  color: white;
  margin-left: 1.25rem;
  margin-bottom: 1.4375rem;
  line-height: 1.5625rem;
  width: 85%; }
  @media screen and (max-width: 480px) {
    .review__text {
      display: none; } }

.review__more {
  font-family: ubuntu;
  font-size: 0.8125rem;
  text-transform: uppercase;
  color: white;
  width: 6.875rem;
  padding: 0.8125rem 0.9375rem;
  background-color: #2f3234;
  border-radius: 0.3125rem;
  margin-left: 1.25rem; }

.review__more:hover {
  background-color: #1f2122; }

.review:hover > .review__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.review:hover > .review__background {
  display: block; }

.review:hover {
  -webkit-filter: none;
  filter: none; }

.team {
  background: url(../img/team/team-bg.png) no-repeat;
  background-size: cover;
  position: relative; }
  @media screen and (max-width: 768px) {
    .team {
      background-position: center; } }
  .team__container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    background: rgba(41, 44, 46, 0.8);
    padding-left: 11.9375rem;
    padding-top: 25.625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 0; }
    @media screen and (max-width: 768px) {
      .team__container {
        padding-left: 0;
        padding-top: 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    .team__container .section__title {
      margin-bottom: 2.8125rem; }
      @media screen and (max-width: 768px) {
        .team__container .section__title {
          text-align: center; } }
    @media screen and (max-width: 768px) {
      .team__container {
        width: 100%; } }

@media screen and (max-width: 768px) {
  .accordeon {
    text-align: center;
    /*display: flex;
		flex-direction: column;
		align-items: center;*/ } }

.accordeon__item {
  margin-bottom: 2.1875rem; }
  .accordeon__item:last-child {
    margin-bottom: 0; }
  .accordeon__item-active .accordeon__link {
    color: #f9b43b; }
    .accordeon__item-active .accordeon__link:before {
      -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg); }
  .accordeon__item-active .accordeon__content {
    height: 100%;
    overflow: visible; }

.accordeon__link {
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  font-family: Gagalin;
  color: #ffffff;
  font-size: 0.87rem;
  font-weight: 400;
  margin-bottom: 20px; }
  .accordeon__link:before {
    content: "";
    height: 0;
    width: 0;
    border: 0.5625rem solid transparent;
    border-top-color: yellow;
    border-bottom-width: 0rem;
    margin-right: 0.8125rem; }

.accordeon__content {
  overflow: hidden;
  height: 0;
  -webkit-transition: .8s;
  -o-transition: .8s;
  transition: .8s; }
  .accordeon__content-wrapp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 768px) {
      .accordeon__content-wrapp {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }

.accordeon__avatar {
  width: 100px;
  height: 100px;
  border: 1px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 1.25rem; }
  .accordeon__avatar-pic {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  @media screen and (max-width: 768px) {
    .accordeon__avatar {
      margin-right: 0; } }

.accordeon__info {
  font-family: Ubuntu;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 700; }
  @media screen and (max-width: 768px) {
    .accordeon__info {
      text-align: center; } }
  .accordeon__info-position {
    margin-bottom: 0.4375rem; }
  .accordeon__info-text {
    font-weight: 300;
    line-height: 1.5rem; }
    .accordeon__info-text p {
      max-width: 13.75rem; }

.best_s {
  background: url("../../img/bg/best.jpg") no-repeat;
  background-size: cover;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-position: center center; }
  .best_s .section__title {
    margin-bottom: 5rem; }
    @media screen and (max-width: 768px) {
      .best_s .section__title {
        margin-bottom: 2.5rem; } }

.best__icon-pic {
  width: 90%;
  height: 6.25rem; }
  .best__icon-pic svg {
    max-width: 95%; }
  @media screen and (max-width: 480px) {
    .best__icon-pic {
      position: static;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none; } }

.best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 480px) {
    .best__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.best__item {
  margin-bottom: 3.125rem;
  padding: 0 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 480px) {
    .best__item {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      width: 100%;
      margin-bottom: 1.5625rem; } }

@media screen and (max-width: 480px) {
  .best__icon {
    margin-right: 1.25rem;
    width: 30%; } }

@media screen and (max-width: 480px) {
  .best__desc {
    text-align: left;
    display: block;
    width: 65%; } }

.best__title {
  font-size: 1.5rem;
  color: black;
  margin-bottom: 1.25rem; }

.wrapper-menu {
  width: 100%;
  height: 100vh;
  background: url(../images/bg_menu.jpg) no-repeat center left;
  background-size: cover;
  position: relative; }

.menu__main-title {
  position: absolute;
  left: 5.875rem;
  top: 7rem;
  right: 0;
  bottom: 0;
  font-size: 4.625rem;
  font-family: gagalin;
  color: white; }
  @media screen and (max-width: 480px) {
    .menu__main-title {
      left: 0.3125rem;
      font-size: 3.75rem; } }

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 100%; }

.menu__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  overflow: hidden;
  background-size: cover;
  position: relative; }
  .menu__item:hover {
    cursor: pointer;
    color: yellow; }

.menu__title {
  background-size: cover; }

.menu__title {
  width: 5rem;
  position: relative; }
  .menu__title .menu__title_text {
    position: absolute;
    font-family: gagalin;
    left: 25%;
    top: 95%;
    right: 0;
    bottom: 30%;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    color: white;
    font-size: 2.5rem;
    white-space: nowrap;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    text-align: center; }
    .menu__title .menu__title_text:hover {
      color: yellow; }

.menu__description {
  width: 0rem;
  overflow: hidden;
  background-color: rgba(47, 50, 52, 0.93); }

.menu__description_active {
  width: 33.75rem;
  font-family: ubuntu;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: white;
  padding: 3.75rem 2.1875rem;
  background-color: rgba(47, 50, 52, 0.93);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }
  @media screen and (max-width: 768px) {
    .menu__description_active {
      width: 18.75rem; } }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 50, 52, 0.9); }
  .popup__display {
    position: relative;
    background: #fff;
    width: 480px;
    border-radius: 5px;
    color: black;
    padding: 20px; }
    @media screen and (max-width: 480px) {
      .popup__display {
        margin: 0 5px; } }
  .popup__title {
    font-family: "Gagalin";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 15px; }
  .popup__text {
    line-height: 25px; }
  .popup__cross {
    display: block;
    position: absolute;
    top: 20px;
    right: 30px; }
    .popup__cross:after {
      content: "";
      height: 25px;
      width: 4px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      top: 0;
      left: 0;
      background: #ed886d;
      border-radius: 2px; }
    .popup__cross:before {
      content: "";
      height: 25px;
      width: 4px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      position: absolute;
      top: 0;
      left: 0;
      background: #ed886d;
      border-radius: 2px; }

.popup-order-true, .popup-order-false {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 50, 52, 0.9); }

.non-open {
  display: none; }

.popup-order-false .popup__display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .popup-order-false .popup__display .popup__title {
    margin-bottom: 0; }

.popup-order-true .popup__display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .popup-order-true .popup__display .popup__title {
    margin-bottom: 0; }

.dropmenu {
  position: fixed;
  top: 32px;
  right: 20px;
  visibility: hidden;
  z-index: 9999; }
  @media screen and (max-width: 768px) {
    .dropmenu {
      visibility: visible; } }
  @media screen and (max-width: 480px) {
    .dropmenu {
      visibility: visible; } }
  .dropmenu__tablet {
    width: 20px;
    height: 5px;
    background-color: #fff;
    border-radius: 5px;
    position: relative; }
    .dropmenu__tablet:after {
      content: "";
      position: absolute;
      width: 20px;
      height: 5px;
      background-color: #fff;
      border-radius: 5px;
      left: 0;
      top: 8px; }
    .dropmenu__tablet:before {
      content: "";
      position: absolute;
      width: 20px;
      height: 5px;
      background-color: #fff;
      border-radius: 5px;
      left: 0;
      top: 16px; }
  .dropmenu__link {
    height: 22px;
    width: 20px;
    display: block; }

.modalWindow {
  height: 100%;
  width: 100%;
  background: #23262a;
  z-index: 10000;
  position: fixed;
  top: 0; }
  .modalWindow__container {
    margin: 0 auto; }
  @media screen and (max-width: 768px) {
    .modalWindow {
      visibility: visible; } }
  .modalWindow__container {
    max-width: 95%; }
  .modalWindow__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 10px; }
  .modalWindow__cross {
    display: block;
    background: #ccc;
    position: relative;
    top: 20px;
    right: 30px; }
    .modalWindow__cross:after {
      content: "";
      height: 25px;
      width: 4px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      top: 0;
      left: 0;
      background: #ccc;
      border-radius: 2px; }
    .modalWindow__cross:before {
      content: "";
      height: 25px;
      width: 4px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      position: absolute;
      top: 0;
      left: 0;
      background: #ccc;
      border-radius: 2px; }
  .modalWindow__menu {
    height: 100%;
    margin-top: 100px; }
  .modalWindow .menu__list {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .modalWindow .menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 0 20px 0;
    text-align: center; }
    .modalWindow .menu__item:after {
      margin-left: 0;
      margin-top: 10px; }
  .modalWindow .menu__link {
    margin-left: 0;
    font-family: gagalin;
    color: #f9b43b; }
    .modalWindow .menu__link:first-child {
      margin-top: 0; }

.non-active {
  display: none; }

html, html::before, html::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  width: 100%;
  height: 100%; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  margin: -rem(1px);
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.maincontent {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform ease;
  transition: -webkit-transform ease;
  -o-transition: transform ease;
  transition: transform ease;
  transition: transform ease, -webkit-transform ease;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  will-change: transform; }
  @media screen and (max-width: 768px) {
    .maincontent {
      min-height: auto; } }

.section__wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  max-width: 940px;
  min-height: 100vh; }

.slider {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(24%, #f9b43b), color-stop(48%, #eb8c38), color-stop(74%, #f9b43b));
  background-image: -webkit-linear-gradient(top, #f9b43b 24%, #eb8c38 48%, #f9b43b 74%);
  background-image: -o-linear-gradient(top, #f9b43b 24%, #eb8c38 48%, #f9b43b 74%);
  background-image: linear-gradient(to bottom, #f9b43b 24%, #eb8c38 48%, #f9b43b 74%);
  color: #ffffff; }

.slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }

.slider__content {
  position: relative;
  width: 100%;
  overflow: hidden; }

.slider__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300%;
  -webkit-transition: -webkit-transform 0.7s ease;
  transition: -webkit-transform 0.7s ease;
  -o-transition: transform 0.7s ease;
  transition: transform 0.7s ease;
  transition: transform 0.7s ease, -webkit-transform 0.7s ease; }

.slider__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-bottom: 80px; }
  @media screen and (max-width: 768px) {
    .slider__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.slider__column {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  .slider__column--left {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 1.25rem; }
    @media screen and (max-width: 768px) {
      .slider__column--left {
        width: 64%;
        margin-right: 0;
        margin-bottom: 45px; } }
    @media screen and (max-width: 480px) {
      .slider__column--left {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        margin-bottom: 5px; } }
  @media screen and (max-width: 768px) {
    .slider__column--right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 75%;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .slider__column--right {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%; } }

.slider__icons {
  position: absolute;
  top: 0;
  bottom: -80px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .slider__icons {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      bottom: initial;
      right: 0; } }

@media screen and (min-width: 769px) {
  .slider__structure-wrapper:hover .structure__table {
    top: 0; } }

.structure:hover {
  background-color: red; }

.slider__structure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 0.3125rem;
  background-color: #f08c33; }

.structure__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Gagalin, Helvetica, Arial, sans-serif;
  text-transform: uppercase; }

.structure__icon {
  width: 100%;
  height: 2.75rem;
  margin-bottom: 0.5rem;
  fill: #ffffff; }

.structure__table {
  position: absolute;
  top: -99999px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 270px;
  padding: 18px 22px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 7px;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: top 0.2s ease-in;
  -o-transition: top 0.2s ease-in;
  transition: top 0.2s ease-in;
  z-index: 100; }
  .structure__table--active {
    top: 0; }
  @media screen and (max-width: 768px) {
    .structure__table {
      left: 5.625rem;
      right: 3.75rem;
      min-width: 16.25rem;
      width: auto;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none; } }
  @media screen and (max-width: 480px) {
    .structure__table {
      right: 0; } }

@media screen and (max-width: 768px) {
  .structure__close {
    position: absolute;
    top: 12px;
    right: 12px;
    display: block;
    width: 20px;
    height: 20px;
    cursor: default; }
    .structure__close::before, .structure__close::after {
      position: absolute;
      top: 0;
      left: 50%;
      height: 20px;
      width: 2px;
      border-radius: 3px;
      background-color: #c1c2c2;
      -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
      transform: translate(-50%);
      -webkit-transform-origin: center;
      -ms-transform-origin: center;
      transform-origin: center;
      content: ''; }
    .structure__close::before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .structure__close::after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .structure__close::before, .structure__close::after {
      background-color: #e45028; } }

.structure__list {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media screen and (max-width: 768px) {
    .structure__list {
      max-width: 230px; } }
  @media screen and (max-width: 480px) {
    .structure__list {
      max-width: 200px; } }

.structure__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  margin-bottom: 18px;
  color: #2f3234; }
  .structure__item b {
    font-weight: 500;
    line-height: calc(24 / 14); }
  .structure__item span {
    margin-left: auto; }

.structure__item-icon {
  width: 44px;
  height: 100%;
  margin-right: 25px; }
  .structure__item-icon--beef, .structure__item-icon--sauce {
    fill: #e45028; }
  .structure__item-icon--buns, .structure__item-icon--cheese {
    fill: #f9b43b; }
  .structure__item-icon--salad, .structure__item-icon--cucumber {
    fill: #8ac03e; }

.slider__image {
  margin-top: 4.375rem; }
  @media screen and (max-width: 480px) {
    .slider__image {
      width: 84%;
      margin-top: 35px; } }

.slider__pic {
  max-width: 100%;
  margin-left: 10px; }

.slider__kalories {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 3.75rem;
  font-family: Gagalin, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  opacity: 0.5; }
  @media screen and (max-width: 768px) {
    .slider__kalories {
      margin-left: auto; } }

.slider__kalories-icon {
  width: 100%;
  height: 3.75rem;
  fill: #ffffff; }

.slider__kalories-number {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25rem;
  text-align: center;
  font-family: Gagalin, Helvetica, Arial, sans-serif; }

.slider__title {
  font-family: Gagalin, Helvetica, Arial, sans-serif;
  font-size: 4.5rem;
  color: #ffffff;
  line-height: calc(64 / 72);
  margin-top: -0.5rem;
  margin-bottom: 2.375rem; }
  @media screen and (max-width: 768px) {
    .slider__title {
      margin-bottom: 27px; } }
  @media screen and (max-width: 480px) {
    .slider__title {
      width: 90%;
      margin-bottom: 17px;
      font-size: 50px;
      line-height: 1.2; } }

.slider__text {
  margin-bottom: 1.375rem;
  line-height: calc(24 / 14); }
  .slider__text p {
    margin: 0;
    padding: 0; }
  @media screen and (max-width: 768px) {
    .slider__text {
      margin-bottom: 38px; } }

.slider__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.slider__price {
  font-size: 1.875rem;
  line-height: 1;
  font-family: Gagalin, Helvetica, Arial, sans-serif;
  color: #e45028;
  letter-spacing: -0.0625rem;
  text-transform: uppercase; }

.slider__price-number {
  font-size: 4.5rem;
  font-family: Gagalin, Helvetica, Arial, sans-serif; }
  @media screen and (max-width: 480px) {
    .slider__price-number {
      font-size: 50px; } }

.slider__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.5rem 0.9375rem;
  font-weight: 500;
  font-size: 0.8125rem;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #e45028;
  border-radius: 0.3125rem;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  margin-left: 1.875rem; }
  .slider__btn:hover {
    background-color: #c1401e; }

.slider__arrow {
  width: 1.8125rem;
  height: 0.9375rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  fill: #ffffff;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer; }
  .slider__arrow--left {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  .slider__arrow--right {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  @media screen and (max-width: 480px) {
    .slider__arrow {
      margin-left: 8px;
      margin-right: 8px; } }

.slide {
  margin-left: 30px; }

.video {
  background: url(../img/video/video-bg.png) center center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -15px;
  margin-bottom: -18px; }

.player {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: 100%; }
  .player__controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    background: rgba(62, 62, 62, 0.8);
    overflow: hidden; }
  .player__play {
    display: block;
    position: absolute;
    top: 8px;
    left: 5px;
    color: transparent;
    background: url(../img/video/play.png) center center no-repeat;
    padding: 10px; }
  .player__playback {
    width: 400px;
    height: 5px;
    position: absolute;
    top: 16px;
    left: 60px;
    background: #626262; }
    .player__playback-mark {
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background: #626262;
      position: absolute;
      top: -3px;
      left: 0;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }

.player__splash .hidden {
  display: none; }

.video .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .video .container {
      max-width: 100%; } }

@media screen and (max-width: 480px) {
  .section__title--center {
    text-align: center; } }

.section__title {
  font-family: Gagalin;
  color: #f9b43b;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 5.3125rem;
  margin-bottom: 1.875rem; }

.section__title--black {
  color: #2f3234;
  margin-bottom: 3.4375rem; }
