.order {
    background: #000000 url("../img/bg/order-bg.jpg") center no-repeat;
    background-size: cover;
}

.order__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85%;
}

.order__title {
    font-family: Gagalin, Helvetica, Arial, sans-serif;
    font-size: 4.5rem;
    color: #f9b43b;
    margin-bottom: rem(58px);
    text-align: center;
    @include phones {
        font-size: 50px;
      }
}


.form{
    display:flex;
    max-width: 58.75rem;
    flex-direction: column;
    margin: 0 auto;
}

.form__columns {
    display: flex;
    @include tablets {
        flex-direction: column;
        align-items: center;
      }
}


.form__column {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 48.93617021%;
    @include tablets {
        width: 65%;
      }
    
      @include phones {
        width: 100%;
      }
}


.form__column--left {
    margin-right: rem(20px);
    @include tablets {
        margin: 0;
      }
}


.form__row {
    display: flex;
    margin-bottom: rem(15px);
}

.form__input {
    width: 100%;
    padding: rem(9px);
    font-size: rem(16px);
    background: #ffffff;
    border-radius: rem(7px);
    border: 0;
  }

.form__input-wrapper {
    flex: 1;
    margin-right: rem(20px);
}

.form__input-wrapper:last-child {
    margin-right: 0;
}

.form__input-lable {
    display: block;
    margin-bottom: rem(5px);
    color: #ffffff;
}

.form__textarea {
    width: 100%;
    height: rem(114px);
    padding: rem(9px);
    margin-bottom: rem(9px);
    resize: none;
  }

.form__textarea-wrapper {
    flex: 1;
}

.form__bottom {
    display: flex;
    flex-direction: column;
    @include phones {
        align-items: center;
      }
}


.form__radios {
    margin-bottom: rem(25px);
  }

.form__label {
  position: relative;
  margin-right: rem(22px);
  padding-left: rem(25px);
  color: #ffffff;
}

.form__radio {
    display: none;
}

.form__radio:checked+.form__radio-indicator::before {
    opacity: 1;
}

.form__radio-indicator {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(15px);
    height: rem(15px);
    border-radius: 50%;
    background-color: #ffffff;
}

.form__radio-indicator::before {
    opacity: 0;
    width: rem(7px);
    height: rem(7px);
    border-radius: 50%;
    background-color: #e45028;
    content: '';
}

.form__checkbox-label {
    margin-bottom: rem(20px);
}

.form__checkbox-field {
    width: rem(15px);
    height: rem(15px);
    fill: #ffffff;
    stroke: none;
}

.form__checkbox {
    display: none;
}

.form__checkbox:checked+.form__checkbox-indicator::before,
.form__checkbox:checked+.form__checkbox-indicator::after {
    opacity: 1;
}

.form__checkbox-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: rem(15px);
    height: rem(15px);
    background-color: #ffffff;
}

.form__checkbox-indicator::before,
.form__checkbox-indicator::after {
    content: '';
    position: absolute;
    bottom: rem(2px);
    display: block;
    width: rem(3px);
    background-color: #e45028;
    opacity: 0;
}

.form__checkbox-indicator::before {
    left: rem(5px);
    height: rem(7px);
    transform: rotate(-30deg);
}

.form__checkbox-indicator::after {
    left: rem(8px);
    height: rem(10px);
    transform: rotate(35deg);
}

.form__submit {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.9375rem;
    font-weight: 500;
    font-size: 0.8125rem;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #e45028;
    border-radius: 0.3125rem;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
}

.form__submit:hover {
    background-color: #c1401e;
}

.form__clear {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.9375rem;
    font-weight: 500;
    font-size: 0.8125rem;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 0.3125rem;
    transition: background-color 0.3s ease;
    font-weight: 300;
    font-size: 14px;
    color: #ffffff;
    border: none;
    text-transform: none;
    text-decoration: none;
    cursor: pointer;
}

.form__clear:hover {
    background-color: transparent;
}